<div mat-dialog-content class="custom-dialog-content">
    <h2 mat-dialog-title class="center-title">Customer Status</h2>
    <br>
    <!-- Success Message -->
    <div *ngIf="data.response === 'sucess'" class="success-message">
      <div>
        <p class="success-text">Request Sucessful,New customer deleted with id -{{data.id}}</p>
      </div>
      <br>
      <div class="error-actions">
        <button mat-raised-button color="primary" class="action-button" (click)="onSubmit()">Okay</button>
      </div>
    </div>
  
    <!-- Error Message -->
    <div *ngIf="data.response === 'failed'" class="error-message">
      <p class="error-title">Request Failed !</p>
      <div class="error-content">
        <p class="error-text">Error:</p>
        <p class="error-text">Error while creating Api,Some fields might be missing or invalid!</p>
      </div>
      <div class="error-actions">
        <button mat-raised-button color="primary" class="action-button" (click)="onSubmit()">Okay</button>
      </div>
    </div>


  
  </div>
  