.custom-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-title {
    color:black;
    font-size: xx-large;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: -25px;
    text-align: center;
  }
  
  .error-message {
    color: red;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .error-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:-25px; /* Adjust the left margin as needed */
  }

  .warning-title {
    font-weight: bold;
    margin-left: 150px;
    margin-top:-25px; /* Adjust the left margin as needed */
  }

  .warning-text{
    margin-top: 5px;
    margin-left: 5px;
    color:black;

  }
  
  
  .error-text {
    margin-top: 2px;
    margin-left: 5px; /* Adjust the left margin as needed */
  }
  
  .error-actions {
    align-self: flex-end;
    margin-right: 5px !important; /* Adjust the right margin as needed */
    min-width:30px;
  }
  
  .action-button {
    border: 1px solid #ccc;
  }
